/* Google Fonts Import Link */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;600&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  /* background: #f8f7f7; */
  height: auto;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #f9faf5;
  z-index: 100;
  transition: all 0.5s ease;
  border-right: #d5d7d1 1px solid;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details .logo_img{
  width: 40px;
  margin: 0 20px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  margin-top: 5px;
  color: #252629;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.2s;
  height: 40px;
  margin: 10px 0;
}

.sidebar .nav-links li:hover a i{
  background: #d3f369;
  border-radius: 50%;
}

.sidebar .nav-links li:hover a span{
  font-weight: 600;
}

.sidebar .nav-links li .custombtn[aria-current="page"] i,
.sidebar .nav-links li .custombtn[aria-current="page"] span{
  color: #242629;
  font-weight: 600;
}

.sidebar .nav-links li .custombtn[aria-current="page"] i{
  background-color: #d3f369;
  border-radius: 50%;
}

.sidebar .nav-links li i{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  min-width: 40px;
  text-align: center;
  line-height: 30px;
  color: #252629;
  font-size: 17px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 20px;
}

.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links .sub-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  text-align: center;
  color: #252629;
  font-size: 13px;
  font-weight: 600;
  padding: 0px 30px;
  margin-top: -5px;
  margin-bottom: 8px;
  transition: all 0.3s ease;
}

.sidebar .nav-links .sub-title .add-taskbtn{
  background: none;
  color: #252629;
  padding: 4px;
  display: flex;
  justify-content: center;
}

.sidebar .nav-links .sub-title .add-taskbtn:hover{
  background: #d3f369;
  border-radius: 5px;
  transition: 0.2s;
}

.sidebar .nav-links .sub-title .add-taskbtn:hover i{
  color: #000;
  font-weight: 600;
}

.sidebar.close .nav-links .sub-title{
  opacity: 0;
}

.sidebar .nav-links li a .link_name{
  font-size: 15px;
  font-weight: 400;
  color: #252629;
  transition: all 0.4s ease;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
  width: 165px;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}


.navclass{
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.5s ease;
}

.sidebar.close ~ .navclass{
  left: 78px;
  width: calc(100% - 78px);
}

.navclass i{
  font-size: 35px; 
  font-weight: 500;
}

.navclass form .inner-form .inner-field{
  height: 50px;
  width: 100%;
  position: relative;
}

.navclass form .inner-form .input-field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 0;
  background:#f6f5ec;
  display: block;
  width: 100%;
  padding: 10px 10px 10px 50px;
  font-size: 15px;
  color: #000;
  border-radius: 35px;
}

.inner-form .input-field input.placeholder {
  color: #9f9f9f;
  font-size: 15px;
}

.navclass form .inner-form .input-field input:-moz-placeholder {
  color: #ccc;
  font-size: 15px;
}

.navclass form .inner-form .input-field input::-webkit-input-placeholder {
  color: #9f9f9f;
  font-size: 15px;
}

.navclass form .inner-form .input-field input:hover, .navclass form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.navclass form .inner-form .input-field .btn-search {
  width: 45px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  height: 100%;
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.navclass form .inner-form .input-field .btn-search svg {
  fill: #666;
  width: 25px;
  height: 25px;
  transition: all .2s ease-out, color .2s ease-out;
}

.navclass form .inner-form .input-field .btn-search:hover, .navclass form .inner-form .input-field .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.navclass form .inner-form .input-field .btn-search:hover svg, .navclass form .inner-form .input-field .btn-search:focus svg {
  fill: #252629;
}

.navclass .user-pic{
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
}

.navclass .profile{
  z-index: 10;
  position: absolute;
  top: 68%;
  right: 2%;
  width: 300px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height;
}

.navclass .profile.open{
  max-height: 350px;
}

.navclass .profile .sub-profile{
  background: #fff;
  padding: 20px;
  margin: 10px;
  border: lightgray groove 1px;
  border-radius: 10px;
}

.navclass .profile .sub-profile .user-info{
    display: flex;
    align-items: center;
}

.navclass .profile .sub-profile .user-info p{
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.navclass .profile .sub-profile .user-info span{
  font-size: 13px;
  width: 13em;
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}

.navclass .profile .sub-profile .user-info img{
  width: 60px;
  margin-right: 15px;
  border-radius: 50%;
}

.navclass .profile .sub-profile hr{
  border: 1;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 10px;
}

.navclass .profile .sub-profile .sub-profile-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #252629;
  margin: -3px;
  font-size: 16px;
  position:relative; 
  z-index:10;
}

.navclass .profile .sub-profile .sub-profile-link p{
  width: 73%;
  margin: -3px;
}

.navclass .profile .sub-profile .sub-profile-link i{
  font-size: 20px;
  margin-right: 10px;
  background: #e5e5e5;
  width: 39px;
  border-radius: 50%;
  padding: 8px;
}

.navclass .profile .sub-profile .sub-profile-link span{
  font-size: 18px;
  transition: transform 0.5s;
}

.navclass .profile .sub-profile .sub-profile-link:hover span{
  transform: translateX(5px);
}

.navclass .profile .sub-profile .sub-profile-link:hover p{
  font-weight: 500;
}


.home-section{
  position: relative;
  background: #f9faf5;
  height: 93vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}

.home-section .home-content {
  margin-left: 0px;
}

.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}

.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .home-section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
  }
}

/* Edit Blade Task */
.input-data{
  height: 50px;
  position: relative;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .input-data input{
  margin: 0 15px;
  font-size: 22px;
  font-weight: 600;
  height: 50px;
  width: 100%;
  border: none;
  background: none;
  }

  .input-data input:focus{
      outline: none;
  }

  .input-data .underline{
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  }

  .input-data .underline:before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
  }

  input:focus ~ .underline:before{
      transform: scaleX(1);
  }

  .wrapper .save{
    background: #d3f369; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    height: 40px;
    border: #e5e5e5;
}
.wrapper .save:hover{
    background: #cae46a; 
}

  .container .save, .taskgroup-wrap .save{
      /* background: #d2ef6a; */
      margin-left: 20px;
      height: 40px;
      text-align: center;
  }

  .delete{
      margin-left: 10px;
      margin-top: 9px;
      width: 80px;
      height: 40px;
      box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }

  .card-body .save{
      background: #d3f369; 
      margin-top: 9px;
      width: 100px;
      height: 40px;
      border: #e5e5e5;
  }

  .card-body .save:hover{
      font-weight: 600;
      background: hsl(73, 99%, 73%); 
  }

  .container{
      margin-top:15px;
  }

  .card {
      box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
      border-width: 0;
      transition: all .2s;
  }

  .scroll-area-sm {
      height: 408px;
      overflow-x: hidden;
  }

  .scroll-area-sm::-webkit-scrollbar {
        width: 20px;
  }

  .scroll-area-sm::-webkit-scrollbar-track {
        background-color: transparent;
  }

  .scroll-area-sm::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
  }
  .scroll-area-sm::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
  }

  .table .dropdown .drop-custom{
    height: 30px;
    display: flex;
    align-items: center;
    
  }

  .table .dropdown .drop-custom:hover{
    background: #f5f5f5;
  }

  .table .dropdown .drop-custom a{
    color: black;
    text-decoration: none;
    
  }

  .table .dropdown .drop-custom a i{
    width: 30px;
    text-align: center;
  }

  .table .dropdown .drop-custom a span{
    width: 60px;
    text-align: start;
    
  }

  .list-group .editbtn{
    position: relative;
    list-style: none;
    height: 40px;
    display: flex;
    align-items: center;
  }

  .list-group .editbtn:hover{
    background: #f5f5f5;
  }

  .list-group .editbtn a{
    margin-left: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  .list-group .editbtn i{
    font-size: 18px;
    text-align: center;
    width: 40px;
  }

  .list-group .editbtn span{
    text-align: center;
    width: auto;
  }

  .table td .move{
    color: #d6dee1;
    font-size: 12px;
  }
  
  .table td .move:hover{
    color: #a8bbbf;
  }

  .table td .editbtn{
    text-decoration: none;
    border: none;
    background: none;
  }
  .table .checkcol{
    color: grey;
    cursor: pointer;
  }.table .checkcol.low{
    color: #007bff;
    cursor: pointer;
  }.table .checkcol.medium{
    cursor: pointer;
    color: #ffc107;
  }.table .checkcol.high{
    cursor: pointer;
    color: #dc3545;
  }
  
  .table .duedate{
    color: #332259;
    background: #e5ddf8;
    border-radius: 10px;
    width: 50px;
    font-size: 11px;
    display: flex; 
    justify-content: center;
  }